*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --link-color: #020202;
    --background-color: white;
    --accent-color: hsla(306, 49%, 60%, 1);
    --secondary-color: hsla(236, 48%, 61%, 1);
}

main-container{
    color: var(--background-color);
    width: 1440px;
    height: 900px;
    display: flex;
}

.logo{
    position: relative;
    top: 20px;
    left: 100px;
    color: var(--secondary-color);
}

.about-afy{
    display: flex;
    flex-direction: column;
    position: relative;
    right: -700px;
    top: -410px;
    justify-content: right;
    font-size: 10px;
    width: 480px;
   height: 440px;
}

.about-afy>h6{
    font-size: 20px;
    letter-spacing: 17px;
    padding-bottom: 20px;
    text-indent: 6px;
    color: var(--secondary-color);
}

.about-afy>h1{
   padding-bottom: 40px;
   color: var(--accent-color);
}

.about-afy>p{
   font-size: 20px;
   font-size: 17px;
}


.pix{
    position: relative;
    left: 100px;
    top: 100px;

}

.pix>img{
    height: 500px;
}
