
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sora', sans-serif;
}

:root{
        --link-color: #020202;
        --background-color: white;
        --accent-color: hsla(306, 49%, 60%, 1);
        --light-accent: hsla(306, 49%, 60%, 0.3);
        --secondary-color: hsla(236, 48%, 61%, 1);
    }

main-container{
    color: var(--background-color);
    width: 1440px;
    height: 900px;
    display: flex;
}

.logo{
    position: relative;
    top: 20px;
    left: 25px;
    color: var(--secondary-color);
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.logo>h2{
    margin-bottom: 15px;
    position: relative;
    left: -40px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.top-bar{
    margin-top: -45px;
    width: 1440px;
    height: 70px;
    background-color: var(--light-accent);
}

.welcome-note{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    top: 160px;
    justify-content: center;

}

.welcome-note>h6{
    font-size: 20px;
    letter-spacing: 17px;
    padding-bottom: 20px;
    text-indent: 6px;
}

.welcome-note>h1{
   padding-bottom: 40px;
   
}

.welcome-note>p{
   font-size: 20px;
}

#button{
    display: flex;
    position: relative;
    top: 200px;
    left: 90px;
    
    /* justify-content: space-between; */
}

.button{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 11px;
}

.read-more{
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    
}

.sign-up{
    background-color: var(--accent-color);
    color: var(--background-color);
}

.pix{
    position: relative;
    right: -700px;
    top: -200px;

}

.pix>img{
    height: 500px;
}